:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --gray-100: #ced4d4;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;
  --font-family: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--light-blue-400);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Texto desencriptado */
/* .decryptOutput {
  display: none;
} */

/* Boton (.copy)*/
#none {
  display: none;
}

/* ------------------------------- */

/* MJS Sin ingresar */
/* .emptyOutput {
  display: none;
} */

.none {
  display: none;
}

.footer {
  padding: 0.5rem;
  text-align: center;
  color: var(--dark-blue-300);
  background-color: var(--light-blue-500);
  font-family: var(--font-family);
}

.btn {
  display: block;
  width: 90%;
  height: 67px;
  border-radius: 24px;
  border-color: var(--dark-blue-500);
  font-family: var(--font-family);
  margin: 24px auto;
}

.encrypt {
  background-color: var(--dark-blue-300);
  color: white;
}

.decrypt {
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
  background-color: var(--light-blue-400);
}

.input {
  background-color: var(--light-blue-400);
  display: block;
  width: 90%;
  height: 20rem;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  display: block;
  border: none;
  resize: none;
  font-size: 1.5rem;
  color: var(--dark-blue-300);
  padding: 2rem 0;
  transition: filter 200ms ease-in-out;
  cursor: pointer;
}

.input::placeholder {
  color: var(--dark-blue-300);
  font-size: 1.5rem;
}

input:hover {
  filter: brightness(1.25);
}

.input:focus {
  outline: none;
}

header svg {
  margin-top: 24px;
  margin-left: 16px;
}

.alert {
  display: block;
  margin: 1rem 1rem;
}

.output {
  display: block;
  width: 90%;
  min-height: 186px;
  background-color: var(--light-blue-300);
  border-radius: 24px;
  border: none;
  margin: 4rem auto 2rem auto;
  padding: 1rem 3rem;
  font-family: var(--font-family);
  text-align: center;
  overflow-wrap: break-word;
  box-shadow: 0px 2px 32px -8px rgba(0, 0, 0, 0.8);
}

.copy {
  background-color: var(--light-blue-300);
  border: 1px solid var(--dark-blue-300);
  color: var(--dark-blue-300);
}

@media screen and (max-width: 768px) {
  .svgOutput {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    display: flex;
    padding: 1rem 1rem 0 1rem;
  }

  .btn {
    margin: 1rem 1rem 0 1rem;
  }

  .copy {
    margin-left: auto;
    margin-right: auto;
  }

  .svgOutput {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 820px) {
  .output {
    margin-bottom: 5.9rem;
  }
}

@media screen and (min-width: 1024px) {
  header svg {
    position: fixed;
    margin-left: 3vw;
  }

  .container {
    display: flex;
    margin-left: 10vw;
  }

  .containerInput {
    width: 60%;
  }

  .alert {
    margin-left: 2.5rem;
  }

  .input {
    height: 70vh;
    margin-top: 76px;
  }

  .output {
    height: 90vh;
    width: 85%;
    margin-top: 2rem;
    margin-left: 7rem;
    min-width: 27rem;
  }

  .svgOutput {
    display: block;
    margin-top: 5vh;
  }

  .copy {
    margin-top: 2vh;
  }

  .decryptOutput {
    /* display: none; */
    max-width: 20vw;
    width: auto;
    height: 85%;
    min-width: 23rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 2rem;
  }

  .none {
    display: none;
  }

  .emptyOutput {
    /* display: none; */
    margin-top: 13rem;
  }

  /* Scroll bar invisible */
  ::-webkit-scrollbar {
    display: block;
    width: 0.1rem;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
  }
}
